@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('../fonts/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Italic.woff') format('woff'),
    url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold Italic';
    src: url('../fonts/Roboto-BoldItalic.eot');
    src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-BoldItalic.woff') format('woff'),
    url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto Regular';
    color: #000000;
}

a {
    font-family: 'Roboto Regular';
    color: #000000;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #012f6b;
    text-decoration: underline;
}

header {
    margin-bottom: 80px;
}

.header_top {
    background: #f9f9f9;
    padding: 10px 0px;
    margin-bottom: 15px;
}

.header_top #header_top_info {
    text-align: right;
}

.header_top ul {
    margin-bottom: 0px;
}

.header_top i,
.header_top svg {
    margin-right: 5px;
}

.header_top .about_menu {
    text-align: right;
}

.header_top .header_top_social {
    text-align: center;
}

.header_bottom .search_block .input-group-addon {
    background: white !important;
    border-radius: 0px;
    border-color: #ada99a;
    color: #012f6b;
}

.header_bottom .search_block .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ada99a;
}

.header_bottom .search_block button {
    border: 0;
    background: transparent;
}

.header_bottom hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #595959;
}

.header_bottom .enter_list {
    margin-bottom: 0px;
    text-align: right;
}

.header_bottom .enter_list li a {
    margin-bottom: 0px;
}

.header_bottom .enter_list li a img {
    margin-right: 5px;
}

#main_menu {
    margin-bottom: 0px;
}

#main_menu li {
    border-radius: 30px;
    vertical-align: middle;
    border: 1px solid #012f6b;
}

#main_menu li a {
    color: #000000;
    display: block;
    padding: 5px 20px;
}

.category_block_item {
    background: #bad9eb;
    margin-top: -70px;
    padding: 15px;
}

.category_block_item_header {
    margin-bottom: 20px;
    position: relative;
}

.category_block_item img {
    margin-top: -80px;
}

.category_block_item_header.children img {
    margin-top: -55px;
    position: relative;
    z-index: 1;
}

.category_block_item span {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-bottom: 4px solid #ffff;
    font-size: 20px;
    font-family: 'Roboto Bold';
}

.search_lessons {
    margin-top: -70px;
}

.search_lessons h4 {
    font-size: 20px;
    margin-top: 0px;
    font-family: 'Roboto Bold';
    color: #fff;
    text-align: center;
}

.search_lessons h5 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: 'Roboto Italic';
    color: #fff;
    text-align: center;
}

.search_lessons .form-group {
    margin-bottom: 5px;
}

.search_lessons label {
    font-family: 'Roboto Regular';
    font-weight: 300;
}

.search_lessons .btn-primary {
    background-color: #cf0058;
    border-color: #cf0058;
    border-radius: 30px;
}

.grey_block {
    background: #f9f9f9;
    margin-top: 100px;
    margin-bottom: 80px;
    padding-bottom: 60px
}

.header_block_bg {
    background-image: url("../images/bg_header.png");
    margin-top: -50px;
}

.header_block_bg h3 {
    font-family: 'Roboto Bold';
    color: #fff;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 60px;
    padding-bottom: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.awards_week .item_awards_week {
    margin-top: -50px;
}

.awards_week .item_awards_week .item_awards_week_desc {
    background: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_name h4 {
    font-family: 'Roboto Bold';
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_award h5 {
    font-family: 'Roboto Bold';
    color: #000000;
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_award h5 span {
    font-family: 'Roboto Italic';
    color: #012f6b;
    display: block;
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_award .table tbody tr td {
    vertical-align: middle;
    padding: 0px;
    border-top: 0px solid #ddd;
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_award .table tbody tr .item_awards_week_desc_award_emblem {
    text-align: right;
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_text {
    color: #000;
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_more {
    text-align: center;
    margin-top: 5px;
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_more a {
    display: inline-block;
    background: #cf0058;
    padding: 10px 15px;
    color: #fff;
    border-radius: 30px;
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_will_share {
    text-align: right;
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_will_share ul {
    margin-bottom: 0px;
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_will_share li {
    font-family: 'Roboto Italic';
    color: #012f6b;
}

.awards_week .item_awards_week .item_awards_week_desc .item_awards_week_desc_will_share li a {
    font-size: 20px;
    color: #000;
}

.awards_week .item_awards_week .item_awards_week_desc hr {
    border-top: 1px solid #8e8e8e;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating_educational_institutions .item_rating_educational_institutions {
    margin-top: -50px;
}

.rating_educational_institutions .item_rating_educational_institutions .rating_educational_institutions_desc {
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    margin-bottom: 30px;
}

.rating_educational_institutions .item_rating_educational_institutions .rating_educational_institutions_desc .rating_educational_institutions_name h4 {
    font-size: 14px;
    color: #2a3130;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    min-height: 45px;
}

.rating_educational_institutions .item_rating_educational_institutions .rating_educational_institutions_desc .rating_educational_institutions_list {
    padding: 5px;
}

.rating_educational_institutions .item_rating_educational_institutions .rating_educational_institutions_desc .rating_educational_institutions_list .top_one {
    background: #bad9eb;
    padding: 10px 10px 0px 10px;
    text-align: center;
}

.rating_educational_institutions .item_rating_educational_institutions .rating_educational_institutions_desc .rating_educational_institutions_list .top_one img {
    display: block;
}

.rating_educational_institutions .item_rating_educational_institutions .rating_educational_institutions_desc .criteria_for_evaluation a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background: #cf0058;
    text-align: center;
    display: block;
}

#slider_educational_blog {
    position: relative;
    margin-top: -50px;
}

#slider_educational_blog .educational_blog_desc {
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    margin-bottom: 30px;
    padding: 5px;
}

#slider_educational_blog .educational_blog_desc .educational_blog_name {
    font-family: 'Roboto Bold';
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
}

#slider_educational_blog .educational_blog_desc .educational_blog_text {
    color: #000;
}

#slider_educational_blog .educational_blog_desc .educational_blog_will_share {
    text-align: right;
}

#slider_educational_blog .educational_blog_desc .educational_blog_will_share li {
    font-family: 'Roboto Italic';
    color: #012f6b;
}

#slider_educational_blog .educational_blog_desc .educational_blog_will_share li a {
    font-size: 20px;
    color: #000;
}

#slider_educational_blog .educational_blog_desc hr {
    border-top: 1px solid #8e8e8e;
    margin-top: 10px;
    margin-bottom: 10px;
}

#slider_educational_blog .educational_blog_desc .educational_blog_more a {
    color: #cf0058;
    font-family: 'Roboto Bold Italic';
}

#slider_university {
    position: relative;
}

#slider_university .owl-dots {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#slider_university .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: #fff;
}

#slider_university .owl-dots .owl-dot.active span,
#slider_university .owl-dots .owl-dot:hover span {
    background: #012f6b;
}

.description_item_university {
    background: #ffffff;
    position: absolute;
    top: 10%;
    left: 0;
    border-left: 10px solid #012f6b;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.description_item_university h3 {
    font-family: 'Roboto Bold';
    font-size: 24px;
    color: #505558;
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 30px;
}

.description_item_university hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #505558;
}

.description_item_university .item_date_of_foundation {
    color: #505558;
}

.description_item_university .item_date_of_foundation span {
    font-family: 'Roboto Bold';
    font-size: 18px;
}

.description_item_university .item_graduates span {
    color: #505558;
    font-family: 'Roboto Bold';
    font-size: 18px;
}

.description_item_university .item_graduates ul li {
    color: #505558;
}

.description_item_university .item_more a {
    color: #cf0058;
    font-family: 'Roboto Bold Italic';
}

.about_portal_advantages {
    margin-top: -50px;
    background: #bad9eb;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 20px;
}

.about_portal_advantages img {
    margin-right: 10px;
}

.about_portal_subscription {
    margin-top: -50px;
}

.about_portal_subscription h4 {
    font-size: 20px;
    margin-top: 0px;
    font-family: 'Roboto Bold';
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.about_portal_subscription label {
    font-family: 'Roboto Regular';
    font-weight: 300;
}

.about_portal_subscription .form-group {
    margin-bottom: 5px;
}

.about_portal_subscription .btn-primary {
    background-color: #cf0058;
    border-color: #cf0058;
    border-radius: 30px;
}

.upcoming_events_nav {
    margin-top: -50px;
    margin-bottom: 30px;
}

.upcoming_events_nav li {
    -moz-box-shadow: 3px -3px 10px #000;
    -webkit-box-shadow: 3px -3px 10px #000;
    box-shadow: 3px -3px 10px #000;
    border: 0px solid transparent;
}

.nav-tabs.nav-justified.upcoming_events_nav > li > a {
    border-bottom: 0px solid #ddd;
    border-radius: 0;
}

.upcoming_events_nav li a {
    background-color: #bad9eb;
    min-height: 105px;
    position: relative;
    border: 0px solid transparent;
    border-bottom: 0px solid #ddd;
    border-radius: 0;
}

.upcoming_events_nav li a span {
    display: block;
}

.upcoming_events_nav > li.active > a,
.upcoming_events_nav > li.active > a:focus,
.upcoming_events_nav > li.active > a:hover {
    color: #fff;
    background-color: #cf0058;
    border: 0px solid #cf0058;
    border-bottom-color: transparent;
}

.nav-tabs.nav-justified.upcoming_events_nav > .active > a,
.nav-tabs.nav-justified.upcoming_events_nav > .active > a:focus,
.nav-tabs.nav-justified.upcoming_events_nav > .active > a:hover {
    border: 0px solid #ddd;
    border-radius: 0;
}

.upcoming_events_nav > li.active a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 20px solid #cf0058;
    margin-left: -40px;
}

.upcoming_events_nav > li a:focus:after,
.upcoming_events_nav > li a:hover:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 20px solid #cf0058;
    margin-left: -40px;
}

.upcoming_events_nav li a:focus,
.upcoming_events_nav li a:hover {
    color: #fff;
    background-color: #cf0058;
}

.upcoming_events_item {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    margin-bottom: 20px;
}

.upcoming_events_item .list_upcoming_events_item {
    margin-bottom: 0px;
}

.upcoming_events_item .list_upcoming_events_item li {
    background: #012f6b;
    color: #fff;
    text-align: center;
    padding: 12.6px 5px;
}

.upcoming_events_item .list_upcoming_events_item li span {
    font-family: 'Roboto Bold';
    font-size: 30px;
    display: block;
}

.upcoming_events_item .list_upcoming_events_item .authentication_upcoming_events {
    background: #cf0058;
}

.upcoming_events_item .upcoming_events_item_desc h2 {
    font-family: 'Roboto Bold';
    color: #000000;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.upcoming_events_item .upcoming_events_item_desc hr {
    border-top: 1px solid #ada99a;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upcoming_events_item .upcoming_events_item_desc .upcoming_events_list_desc li {
    font-family: 'Roboto Bold';
    font-size: 18px;
    color: #000;
    padding-right: 50px;
}

.upcoming_events_item .upcoming_events_item_desc .upcoming_events_list_desc span {
    font-family: 'Roboto Italic';
    font-size: 12px;
    color: #012f6b;
}

.upcoming_events_item .upcoming_events_item_desc .upcoming_events_item_desc_text {
    color: #000;
    margin-bottom: 20px;
}

.upcoming_events_item .upcoming_events_item_desc .upcoming_events_item_desc_text span {
    font-family: 'Roboto Italic';
    font-size: 12px;
    color: #012f6b;
    display: block;
}

.upcoming_events_item .upcoming_events_item_desc .upcoming_events_item_desc_advanced span {
    font-family: 'Roboto Italic';
    font-size: 12px;
    color: #012f6b;
    display: block;
}

.upcoming_events_item .upcoming_events_item_desc .upcoming_events_item_desc_price span {
    font-family: 'Roboto Italic';
    font-size: 12px;
    color: #012f6b;
    display: block;
}

.upcoming_events_item .upcoming_events_item_desc .upcoming_events_item_desc_price .price_block {
    font-family: 'Roboto Bold';
    font-size: 20px;
    color: #fff;
    background: #012f6b;
    padding: 5px 5px;
    display: block;
}
.upcoming_events_item_price_block{
    margin-bottom: 0px;
}
.table > tbody > tr > td{
    padding: 0px;
    border-top: 0px solid #ddd;
}
table tbody tr .upcoming_events_item_desc_price{
    padding-left: 20px;
}

.upcoming_events_item .upcoming_events_item_img {
    margin-right: 20px;
}
.content_page header{
    margin-bottom: 20px;
}
.content_page h1{
    margin-top: 0px;
    margin-bottom: 20px;
}
footer {
    background: #f9f9f9;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 5px;
}

#footer_nav_top {
    margin-top: 40px;
    margin-bottom: 40px;
}

#footer_nav_top li {}

#footer_nav_top li a {
    color: #fff;
    background: #012f6b;
    padding: 10px 15px;
    margin: 10px 15px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
    vertical-align: middle;
    min-height: 65px;
}

footer #footer_nav_bottom {
    text-align: center;
}

footer #footer_pay {
    text-align: right;
}