@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Proxima Nova Regular';
    font-size: 16px;
}
/*header{
    background-image: url(../images/header_bg.jpg);
    background-size: cover;
}*/

.cropper-dashed{
    border:none !important;
}

.header-bg{
    background-image: url(../images/header_bg.jpg);
    background-size: cover;
}
header .navbar-brand {
    height: auto;
    padding: 0px 15px;
}
header .navbar-default {
    background-color: rgba(248,248,248,0.7);
}
header .main_menu li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header_page{
    text-align: center;
}
#partner_universities{
    margin-bottom: 30px; 
}
.center__slider{
    justify-content:center;
    display: flex !important;
    align-items: center;
}
.banner_block{
    margin-bottom: 30px;
}

.no__home{
    margin-top: 80px;
    margin-bottom: 80px;
    min-height: 400px;
}

.form-horizontal .control-label{
    text-align: left!important;
}

span.req{
    color: red !i;
} 

.close__item{
    position: absolute;
    right: 10px;
    top: -25px;
    font-size: 16px; 
    cursor: pointer;
    z-index: 9999;
}

.multi__container {
    /*border-top: 1px solid #ddd;*/
    position: relative;
    margin-bottom: 20px;
}

.multi__container .form-group{
    margin-bottom: 0px;
}

.multi__container:nth-child(1){
    border-top: none;
}

#error-respond{ 
  display: none;
  /*text-transform: capitalize !important;  */
  line-height: 20px;  
  top:50px;
  right:50px;
  font-size:14px;
  position:fixed;
  background:#ea4646;
  z-index:9999999999;
  color:#fff;
  padding:5px 15px;
  border-radius:20px;
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,.1);
  box-shadow:0px 2px 2px rgba(0,0,0,.1); 
}

#error-respond p{
    margin: 0;
}

.error__input{
    border: 1px solid red !important;  
}

.img__institution{
    display: block;
    width: 100%;
    height: 228px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img__teacher{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50%;
    padding-bottom: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.univ__img{
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 252px;
  height: 194px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.profile__img{
    position: relative;
    cursor: pointer;
}

.actions__upload_photo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    top: 0;
    left: 0;
    /*border-radius: 50%;*/
    justify-content: center;
    display: none;
    align-items: center;
}

.actions__upload_photo .btn-file{
    background-color: #b93777; 
    display: inline-block;
    color: #fff;
   /* margin-right: 10px;*/
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.edit__profile__photo-icon{
    color: #b93777;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #fff; 
}

.profile__img:hover .actions__upload_photo{
    display: flex;
}

.dashed__link{
    color: #333;
    border-bottom: 1px dashed #333;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none !important;
}

.profile__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50%;
    padding-bottom: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*border-radius: 50%;*/
    margin-bottom: 20px;
    background-color: #fff;
    background-color: #ededed; 
}
footer{
    background-color: rgba(248,248,248,0.7);
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .footer_menu{
    margin-bottom: 0px;
}
footer .social_menu{
    margin-top: 22.5px;
    margin-bottom: 0px;
}
footer .footer_bottom h3{
    font-weight: bold;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
}
footer .footer_bottom ul{
    font-size: 15px;
    margin-bottom: 0px;
}

/* Обрезка фото */

#overlay{
    display: none;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    z-index: 1031;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cropper__section{
    padding:20px;
    display: none;
    width: 400px;
    height: 400px;
    margin: auto;
    position: fixed;
    z-index: 1032;
    left: 0; top: 0; bottom: 0; right: 0;
    border: 1px solid #ededed;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 14px rgba(0,0,0,.8);
    box-shadow: 0 2px 14px rgba(0,0,0,.8);
}

.cropper__image_content{
    text-align: center;
    margin-bottom: 20px;
    height: 300px;
}

.cropper__image_content img{
    max-width: 100%;
    max-height: 100%;
}

.cropper-view-box,
.cropper-face {
  /*border-radius: 50%;*/
}

.cropper__close{
    position: absolute;
    top: -15px;
    right: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 9px;
    cursor: pointer;
    }

/* Страница преподователей */
.filter_top{
    font-size: 12px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.filter_top a{
    font-size: 12px;
}
.filter_top ul{
    margin-bottom: 0px;
}
.teachers_external_card{
/*-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
margin-bottom: 30px;
}
.teachers_external_card .left_teachers_external_card{
    padding: 10px;
    border-right: 1px solid;
}
.teachers_external_card .left_teachers_external_card span{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    background-color: rgba(228, 228, 228, 1);
}
.teachers_external_card .left_teachers_external_card .more_link{
    display: block;
    text-align: center;
    background-color: rgba(228, 228, 228, 1);
    border-radius: 15px;
    padding: 5px;
}
.teachers_external_card .right_teachers_external_card h2{
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.teachers_external_card .right_teachers_external_card h2 span{
    font-size: 16px;
}
.teachers_external_card .right_teachers_external_card .type_training{
    text-align: center;
    font-size: 12px;
}
.teachers_external_card .right_teachers_external_card .type_training span{
    display: block;
    font-size: 16px;
}
.teachers_external_card .right_teachers_external_card .price_block{
    text-align: right;
}
.teachers_external_card .right_teachers_external_card .teacher_about{
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Новые стили после перевёрстки всего сайта выше css удалить */
/* Подключаем шрифты */
@font-face {
	font-family: 'Cuprum Regular';
	src: url('../fonts/Cuprum-Regular.eot');
	src: url('../fonts/Cuprum-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cuprum-Regular.woff') format('woff'),
	url('../fonts/Cuprum-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Cuprum Italic';
	src: url('../fonts/Cuprum-Italic.eot');
	src: url('../fonts/Cuprum-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cuprum-Italic.woff') format('woff'),
	url('../fonts/Cuprum-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue Regular';
	src: url('../fonts/BebasNeueRegular.eot');
	src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BebasNeueRegular.woff') format('woff'),
	url('../fonts/BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue Cyr Roman';
	src: url('../fonts/HelveticaNeueCyr-Roman.eot');
	src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue Cyr Light Italic';
	src: url('../fonts/HelveticaNeueCyr-LightItalic.eot');
	src: url('../fonts/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Шапка */
header .header_top_nav{
	float: right;
	margin-bottom: 0px;
}
header .header_top_nav li{
	padding-top: 10px;
	padding-bottom: 10px;
}
header .header_top_nav li a{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #1d3369;
	text-transform: uppercase;
}
header .header_top_nav .register_link a{
	color: #b93777;
}
header .header_bottom{
	background: url(../images/bg_header.png);
	padding-top: 40px;
	padding-bottom: 40px;
}
header .header_bottom h2{
	font-family: 'Cuprum Regular';
	font-size: 26px;
	color: #cccccc;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 25px;
}
header .header_bottom .list_information {
    text-align: center;
    margin-bottom: 0px;
}
header .header_bottom .list_information li a {
	font-family: 'Cuprum Regular';
	font-size: 16px;
    color: #f3f3f3;
}
header .header_bottom .navbar-default {
	background-color: transparent;
	border: 0px;
	margin-bottom: 0px;
}
header .header_bottom .navbar-default .navbar-nav{
	margin-top: 20px;
}
header .header_bottom .navbar-default li a{
	font-family: 'Bebas Neue Regular';
	font-size: 18px;
	line-height: 40px;
	color: #fff;
	letter-spacing: 0.2em;
	padding-top: 0px;
	padding-bottom: 0px;
}
header .header_bottom .navbar-default li a:focus,
header .header_bottom .navbar-default li a:hover{
	color: #cccccc;
}
header .header_bottom .navbar-default .nav .open > a, header .header_bottom .navbar-default .nav .open > a:focus, header .header_bottom .navbar-default .nav .open > a:hover {
    background-color: transparent;
    border: 0px;
}
header .header_bottom .navbar-default .dropdown-menu {
	background-color: #4a464c;
    top: 45px;
}
header .header_bottom .navbar-default .dropdown-menu li a {
    font-size: 18px;
    line-height: 25px;
}
header .header_bottom .navbar-default .dropdown-menu li a:focus,
header .header_bottom .navbar-default .dropdown-menu li a:hover{
    background: transparent;
}
/* Заголовки блоков */
.header_block{
	font-family: 'Cuprum Regular';
	font-size: 40px;
	color: #232323;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 30px;
	letter-spacing: 0.1em;
}
/* Заголовки страниц */
.title_page{
	font-family: 'Cuprum Regular';
	font-size: 23px;
	color: #cccccc;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
}
.title_desc{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #5f5f5f;
	text-align: center;
	margin-bottom: 35px;
}
/* Хлебные крошки */
.breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
	text-align: center;
}
.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #b93777;
    content: "|";
}
.breadcrumb > li{
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 14px;
    color: #a8a8a8;
}
.breadcrumb > li a {
    color: #b93777;
}
/* Поиск */
#search_form{
    margin-top: 50px;
    margin-bottom: 360px;
}
#search_form .form-group{
    margin-bottom: 0px;
}
#search_form .form-control{
	font-family: 'Cuprum Regular';
    font-size: 20px;
	color: #fff;
	border-radius: 0px;
	border: 1px solid #aeacaf;
	border-right: 0px;
	height: auto;
	padding: 15px 15px;
	background: transparent;
}
#search_form .btn_search{
	font-size: 33px;
	color: #ffffff;
	background: transparent;
	border: 1px solid #aeacaf;
	border-left: 0px;
	border-radius: 0px;
}
#search_form ::-webkit-input-placeholder{/* webkit */
	color:#5f5f5f; opacity:1;
}
#search_form ::-moz-placeholder{/* Firefox 19+ */
	color:#5f5f5f; opacity:1;
}
#search_form :-moz-placeholder{/* Firefox 18- */
	color:#5f5f5f; opacity:1;
}
#search_form :-ms-input-placeholder{/* IE */
	color:#5f5f5f; opacity:1;
}
#search_form.no_home{
    margin-top: 0px;
    margin-bottom: 0px;
}
#search_form.no_home .form-control{
	font-family: 'Cuprum Regular';
    font-size: 16px;
	color: #5f5f5f;
	background: #fff;
	padding: 6px 12px;
}
#search_form.no_home .btn_search{
	font-family: 'Cuprum Regular';
    font-size: 16px;
	color: #fff;
    background: #b93777;
	border-radius: 0px;
}
/* Кнопка подробнее на сайте */
.link_more{
	text-align: center;
	margin-bottom: 30px;
}
.link_more a{
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 14px;
	color: #ffffff;
	background: #747474;
	padding: 15px 120px;
	text-transform: uppercase;
}
/* Карусели */
.owl-theme .owl-nav [class*="owl-"] {
    margin: 0px;
    padding: 0px;
    background: transparent;
    border-radius: 0px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
    opacity: 0.5;
}
.owl-carousel .owl-nav .owl-prev{
    position: absolute;
    left: -50px;
    top: 20%;
}
.owl-carousel .owl-nav .owl-next{
    position: absolute;
    right: -50px;
    top: 20%;
}
/* Список курсов на главной */
.popular_courses{
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #e3e5e8;
}
.popular_courses li{
    float: none;
    display: inline-block;
	margin-left: -5px;
}
.popular_courses > li > a{
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
	color: #a8a8a8;
    text-transform: uppercase;
	margin-right: 0px;
	border-radius: 0px;
}
.popular_courses > li > a:focus,
.popular_courses > li > a:hover{
	color: #b93777;
	border: 0px;
    border-bottom: 1px solid #b93777;
    background: transparent;
	margin-right: 0px;
}
.popular_courses > li.active > a, .popular_courses > li.active > a:focus, .popular_courses > li.active > a:hover {
	color: #b93777;
	border: 0px;
    border-bottom: 1px solid #b93777;
    background: transparent;
	margin-right: 0px;
}
.external_card{
    margin-bottom: 30px;
}
.external_card .caption .card_tag{
	margin-bottom: 20px;
}
.external_card .caption .card_tag .tag_sticker span{
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
	color: #ffffff;
	background: #b93777;
	padding: 12px 15px;
	display: inline-block;
}
.external_card .caption .card_tag .bookmark_tag{
	float: right;
}
.external_card .caption .card_tag .bookmark_tag span .btn-default{
	color: #b93777;
    border: none;
    padding: 0px;
    font-size: 22px;
    line-height: 22px;
	margin-top: 10px;
}
.external_card .caption .card_tag .bookmark_tag span .btn-default:focus,
.external_card .caption .card_tag .bookmark_tag span .btn-default:hover{
	color: #000000;
	background: transparent;
}
.external_card .caption h3{
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 15px;
	color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.external_card .caption h4{
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
	color: #666d78;
    margin-top: 5px;
	margin-bottom: 20px;
}
.external_card .caption .card_info{
	margin-bottom: 20px;
}
.external_card .caption .card_info li{
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 13px;
	color: #6c6c6c;
	font-style: italic;
}
.external_card .caption .card_info span{
    float: right;
}
.external_card .caption .card_info .rating_star{
    color: #e4ba0d;
}
.external_card .caption .card_date_info{
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 13px;
    color: #c3bbbb;
	margin-bottom: 20px;
}
.external_card .caption .card_date_info i{
	font-size: 1.5em;
}
.external_card .caption .card_date_info .right_date{
	float: right;
}
.external_card .caption .more_card{
    text-align: center;
}
.external_card .caption .more_card a{
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
    color: #95979c;
    border: 1px solid #95979c;
    padding: 10px 25px;
    display: block;
	font-style: italic;
}
.external_card .caption .more_card a:focus,
.external_card .caption .more_card a:hover{
    color: #fff;
    border-color: #b93777;
    text-decoration: none;
    background: #b93777;
}
/* О нас на главной */
.about_us_block {
    padding-top: 30px;
    padding-bottom: 30px;
}
.about_us_block h1{
	font-family: 'Cuprum Regular';
	font-size: 45px;
	color: #232323;
	text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
	letter-spacing: 0.1em;
}
.about_us_block p{
	font-family: 'Cuprum Regular';
    font-size: 16px;
	line-height: 26px;
	color: #5f5f5f;
	text-align: center;
	margin-bottom: 20px;
}
/* Вузы партнеры на главной */
#partner_universities .owl-nav .owl-prev{
    top: 30%;
}
#partner_universities .owl-nav .owl-next{
    top: 30%;
}
#partner_universities {
    margin-bottom: 30px;
}
#partner_universities .item{
    text-align: center;
}
#partner_universities .item h3 a{
	font-family: 'Cuprum Regular';
    font-size: 22px;
	color: #4f433a;
	display: block;
}
#partner_universities .item ul{
    margin-bottom: 0px;
}
#partner_universities .item ul li{
	font-family: 'Cuprum Regular';
    font-size: 15px;
	color: #b93777;
    margin-bottom: 0px;
}
/* Лучшие преподаватели на главной */
#teacher_carousel {
    margin-bottom: 30px;
}
#teacher_carousel .item h3{
    text-align: center;
}
#teacher_carousel .item h3 a{
	font-family: 'Cuprum Regular';
    font-size: 22px;
	color: #4f433a;
}
#teacher_carousel .item p {
	font-family: 'Cuprum Regular';
    font-size: 15px;
	color: #b93777;
    text-align: center;
    margin-bottom: 0px;
}
/* Блок с типами пользователями на главной */
.user_type_block{
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.user_type_home{
    text-align: center;
}
.user_type_home .img-thumbnail {
    padding: 0px;
    border: none;
    border-radius: 0px;
}
.user_type_home h3 {
	font-family: 'Cuprum Regular';
    font-size: 22px;
	color: #1f1f1f;
	text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
}
.user_type_home p {
	font-family: 'Cuprum Regular';
    font-size: 16px;
	line-height: 26px;
	color: #5f5f5f;
    margin-bottom: 10px;
}
.user_type_home a {
	font-family: 'Cuprum Regular';
    color: #002c73;
    font-size: 22px;
    margin-bottom: 0px;
    display: inline-block;
	text-transform: uppercase;
}
/* Страница регистрации */
.registration_type{
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #e3e5e8;
}
.registration_type li{
    float: none;
    display: inline-block;
	margin-left: -5px;
}
.registration_type > li > a{
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
	color: #a8a8a8;
    text-transform: uppercase;
	margin-right: 0px;
	border-radius: 0px;
}
.registration_type > li > a:focus,
.registration_type > li > a:hover{
	color: #b93777;
	border: 0px;
    border-bottom: 1px solid #b93777;
    background: transparent;
	margin-right: 0px;
}
.registration_type > li.active > a, .registration_type > li.active > a:focus, .registration_type > li.active > a:hover {
	color: #b93777;
	border: 0px;
    border-bottom: 1px solid #b93777;
    background: transparent;
	margin-right: 0px;
}
.tab_registration .form-horizontal .control-label{
	font-family: 'Bebas Neue Regular';
	font-size: 15px;
	letter-spacing: 0.2em;
	font-weight: 300;
}
.tab_registration .form-control {
    color: #5f5f5f;
    border: 1px solid #5f5f5f;
    border-radius: 0px;
}
.btn_form{
	text-align: center;
}
.btn_form p{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	line-height: 26px;
	color: #5f5f5f;
	text-align: center;
	margin-bottom: 20px;
}
.btn_registration{
    font-family: 'Bebas Neue Regular';
    color: #000;
	font-weight: 600;
    letter-spacing: 0.2em;
    background: transparent;
    border: none;
    padding: 10px 25px;
	display: inline-block;
	width: auto;
     outline: none !important;
}
.btn_registration:focus,
.btn_registration:hover{
     outline: none !important;
    color: #b93777 !important;;
    background: transparent !important;;
    border: none !important;;
}
.btn_registration > .loader-inner div{
    background-color: #b93777;
}

/* Страница авторизации */
.login_page .form-horizontal .control-label{
	font-family: 'Bebas Neue Regular';
	font-size: 15px;
	letter-spacing: 0.2em;
	font-weight: 300;
}
.login_page .form-control {
    color: #5f5f5f;
    border: 1px solid #5f5f5f;
    border-radius: 0px;
}
.btn_login{
    font-family: 'Bebas Neue Regular';
    color: #000;
	font-weight: 600;
    letter-spacing: 0.2em;
    background: transparent;
    border: none;
    padding: 10px 25px;
	display: inline-block;
	width: auto;
    outline: none !important;
}
.btn_login:focus,
.btn_login:hover{
    outline: none !important;
    color: #b93777 !important;
    background: transparent !important;
    border: none !important;
}

.btn_login > .loader-inner div{
    background-color: #b93777;
}
/* Личный кабинет */
.teacher_lk .teacher_type{
	font-family: 'Cuprum Regular';
	font-size: 13px;
	line-height: 13px;
	color: #ffffff;
	background: #c1c1c1;
	display: inline-block;
	padding: 7px 14px;
}
.teacher_lk h1{
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 20px;
	color: #5f5f5f;
	margin-top: 15px;
	margin-bottom: 60px;
}
.teacher_lk .top_lk{
	margin-bottom: 60px;
}
.course_lk{
	margin-bottom: 60px;
}
.course_lk .btn_add_course{
    font-family: 'Cuprum Regular';
    font-size: 16px;
    color: #fff;
    background: #b93777;
    text-transform: uppercase;
    border-radius: 0px;
    display: inline-block;
	padding: 7px 15px;
}
.teacher_employment .checkbox.checbox-switch {
	padding-left: 0;
}
.teacher_employment .checkbox.checbox-switch label,
.teacher_employment .checkbox-inline.checbox-switch {
	display: inline-block;
	position: relative;
	padding-left: 0;
}
.teacher_employment .checkbox.checbox-switch label input,
.teacher_employment .checkbox-inline.checbox-switch input {
	display: none;
}
.teacher_employment .checkbox.checbox-switch label span,
.teacher_employment .checkbox-inline.checbox-switch span {
	width: 80px;
	border-radius: 20px;
	height: 30px;
	border: 1px solid #c1c1c1;
	background-color: rgb(255, 255, 255);
	transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
	margin-left: 7px;
}
.teacher_employment .checkbox.checbox-switch label span:before,
.teacher_employment .checkbox-inline.checbox-switch span:before {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 1px solid #c1c1c1;
	background: rgb(255,255,255);
	content: " ";
	top: 2px;
	position: relative;
	left: 2px;
	transition: all 0.3s ease;
}
.teacher_employment .checkbox.checbox-switch label > input:checked + span:before,
.teacher_employment .checkbox-inline.checbox-switch > input:checked + span:before {
	left: 53px;
}
.teacher_employment .checkbox.checbox-switch.switch-light label > input:checked + span,
.teacher_employment .checkbox-inline.checbox-switch.switch-light > input:checked + span {
	background-color: rgb(248,249,250);
	border-color: rgb(248,249,250);
	box-shadow: rgb(248,249,250) 0px 0px 0px 8px inset;
	transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.lk_menu{
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #e3e5e8;
}
.lk_menu li{
    float: none;
    display: inline-block;
	margin-left: -5px;
}
.lk_menu > li > a{
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
	color: #a8a8a8;
    text-transform: uppercase;
	margin-right: 0px;
	border-radius: 0px;
}
.lk_menu > li > a:focus,
.lk_menu > li > a:hover{
	color: #b93777;
	border: 0px;
    border-bottom: 1px solid #b93777;
    background: transparent;
	margin-right: 0px;
}
.lk_menu > li.active > a, .lk_menu > li.active > a:focus, .lk_menu > li.active > a:hover {
	color: #b93777;
	border: 0px;
    border-bottom: 1px solid #b93777;
    background: transparent;
	margin-right: 0px;
}
.data_coverage{
	margin-top: 70px;
}
.data_coverage .edit_profile{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #fff;
	background: #b93777;
	text-transform: uppercase;
	border-radius: 0px;
	display: inline-flex;
	padding: 7px 15px;
	margin-right: 15px;
}
.data_coverage span{
	font-family: 'Cuprum Italic';
	color: #a8a8a8;
	display: inline-flex;
	font-size: 14px;
	line-height: 14px;
	vertical-align: middle;
}
/* Редактирование профиля */
.user_edit{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e3e5e8;
}
.user_edit li{
    float: none;
    display: inline-block;
	margin-left: -5px;
}
.user_edit > li > a{
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
	color: #a8a8a8;
    text-transform: uppercase;
	margin-right: 0px;
	border-radius: 0px;
}
.user_edit > li > a:focus,
.user_edit > li > a:hover{
	color: #b93777;
	border: 0px;
    border-bottom: 1px solid #b93777;
    background: transparent;
	margin-right: 0px;
}
.user_edit > li.active > a, .user_edit > li.active > a:focus, .user_edit > li.active > a:hover {
	color: #b93777;
	border: 0px;
    border-bottom: 1px solid #b93777;
    background: transparent;
	margin-right: 0px;
}
.header_blok_user{
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
	color: #5f5f5f;
    text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 25px;
}
.user_form label {
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
    color: #a8a8a8;
    font-weight: 300;
	margin-top: 8px;
    text-transform: uppercase;
}
.user_form label p{
	font-family: 'Cuprum Italic';
    font-size: 13px;
    color: #a8a8a8;
    font-weight: 300;
	text-transform: none;
}
.user_form label.checkbox-inline, .user_form label.checkbox-inline + .user_form label.checkbox-inline, .user_form label.radio-inline, .user_form label.radio-inline + .radio-inline {
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 15px;
}
.user_form label span.req {
    color: red; /*a8a8a8*/
}
.user_form .form-horizontal .control-label{
	font-family: 'Bebas Neue Regular';
	font-size: 15px;
	letter-spacing: 0.2em;
	font-weight: 300;
}
.user_form .form-control {
	color: #5f5f5f;
	border: 1px solid #c1c1c1;
    border-radius: 0px;
}
.user_form select{
	
	position: relative;
	-webkit-appearance: none;
	-moz-appearance:  none;
	-ms-appearance:  none;
	appearance:  none;
}
.user_form select option{ 
    font-size: 14px; 
}
.user_form select:focus,
.user_form select:hover{
	cursor: pointer;
}
.user_form .select_form:after{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f0d7";
	position: absolute;
	top: 10px;
	right: 25px;
	pointer-events: none;
}
.user_form .add__more{
	font-family: 'Cuprum Regular';
	font-size: 13px;
	line-height: 1.1;
	color: #b93777;
	float: right;
	background: transparent;
	padding: 0px;
}
.user_form .add__more:active{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.user_form .close__item {
    right: 0px;
    top: 7px;
    font-size: 13px;
}
.user_form .list_checkbox{
	margin-bottom: 0px;
}
.user_form .list_checkbox li label{
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
    color: #a8a8a8;
	margin-top: 0px;
	text-transform: capitalize;
}
.user_form .list_checkbox li .checkbox{
	margin-top: 0px;
	margin-bottom: 0px;
}
.user_form .btn_save, .btn_save{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #fff;
	background: #b93777;
	text-transform: uppercase;
	border-radius: 0px;
	margin-top: 5px;
	padding: 6px 20px;
	float: right;
}
/* Добавление курсов */
.add_course{
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #e3e5e8;
}
.add_course li{
    float: none;
    display: inline-block;
	margin-left: -5px;
}
.add_course > li > a{
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
	color: #a8a8a8;
    text-transform: uppercase;
	margin-right: 0px;
	border-radius: 0px;
}
.add_course > li > a:focus,
.add_course > li > a:hover{
	color: #b93777;
	border: 0px;
    border-bottom: 1px solid #b93777;
    background: transparent;
	margin-right: 0px;
}
.add_course > li.active > a, .add_course > li.active > a:focus, .add_course > li.active > a:hover {
	color: #b93777;
	border: 0px;
    border-bottom: 1px solid #b93777;
    background: transparent;
	margin-right: 0px;
}
.header_blok_course{
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 13px;
	color: #5f5f5f;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 25px;
}
.course_form label {
	font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
    color: #a8a8a8;
    font-weight: 300;
	margin-top: 8px;
    text-transform: uppercase;
}
.course_form label p{
	font-family: 'Cuprum Italic';
    font-size: 13px;
    color: #a8a8a8;
    font-weight: 300;
	text-transform: none;
}
.course_form label.checkbox-inline, .course_form label.checkbox-inline + .course_form label.checkbox-inline, .course_form label.radio-inline, .course_form label.radio-inline + .radio-inline {
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 15px;
}
.course_form label span.req {
    color: red; /*a8a8a8*/
}
.course_form .form-horizontal .control-label{
	font-family: 'Bebas Neue Regular';
	font-size: 15px;
	letter-spacing: 0.2em;
	font-weight: 300;
}
.course_form .form-control {
	color: #5f5f5f;
	border: 1px solid #c1c1c1;
    border-radius: 0px;
}

.course_form textarea.form-control{
    max-width: 100%;
}

.course_form select{
	
	position: relative;
	-webkit-appearance: none;
	-moz-appearance:  none;
	-ms-appearance:  none;
	appearance:  none;
}
.course_form select option{ 
    font-size: 14px; 
}
.course_form select:focus,
.course_form select:hover{
	cursor: pointer;
}
.course_form .select_form:after{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f0d7";
	position: absolute;
	top: 10px;
	right: 25px;
	pointer-events: none;
}
.course_form .turn_on{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #fff;
	background: #b93777;
	text-transform: uppercase;
	border-radius: 0px;
	display: block;
	width: 100%;
	padding: 5px 15px;
}
/* Каталог преподователей */
.filter_top {
	font-family: 'Cuprum Regular';
    font-size: 13px;
    border: 1px solid #e3e5e8;
	padding: 10px 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.filter_top .available_list li a{
	font-family: 'Cuprum Regular';
    font-size: 16px;
    color: #a8a8a8;
	text-transform: uppercase;
}
.filter_top .available_list li a:focus,
.filter_top .available_list li a:hover{
    color: #b93777;
	font-weight: 300;
	text-decoration: none;
}
.filter_top .available_list .active a{
    color: #b93777;
	font-weight: 300;
	text-decoration: none;
}
.filter_top .per_page_list li a{
	font-family: 'Cuprum Regular';
    font-size: 16px;
    color: #a8a8a8;
	text-transform: uppercase;
}
.filter_top .per_page_list li a:focus,
.filter_top .per_page_list li a:hover{
    color: #b93777;
	font-weight: 300;
	text-decoration: none;
}
.filter_top .per_page_list .active a{
    color: #b93777;
	font-weight: 300;
	text-decoration: none;
}
.filter_top .sorting_list{
	text-align: center;
}
.filter_top .sorting_list li a{
	font-family: 'Cuprum Regular';
    font-size: 16px;
    color: #a8a8a8;
	text-transform: uppercase;
}
.filter_top .sorting_list li a:focus,
.filter_top .sorting_list li a:hover{
    color: #b93777;
	font-weight: 300;
	text-decoration: none;
}
.filter_top .sorting_list .active a{
    color: #b93777;
	font-weight: 300;
	text-decoration: none;
}
.teachers_external_card{
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e3e5e8;
}
.teachers_external_card .submit_application{
}
.teachers_external_card .teachers_name{
	position: relative;
}
.teachers_external_card .teachers_name h2{
    font-family: 'Helvetica Neue Cyr Roman';
	font-size: 22px;
	color: #5f5f5f;
	margin-top: 0px;
	margin-bottom: 5px;
}
.teachers_external_card .teachers_name h2 a{
    font-family: 'Helvetica Neue Cyr Roman';
	font-size: 22px;
	color: #5f5f5f;
	margin-top: 0px;
	margin-bottom: 5px;
    text-decoration: none;
}
.teachers_external_card .teachers_name .teachers_date{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #a8a8a8;
	display: block;
	margin-top: 0px;
	margin-bottom: 20px;
}
.teachers_external_card .teachers_name .teachers_label{
    position: absolute;
	top: 0px;
	right: 0px;
}
.teachers_external_card .teachers_name .teachers_label li{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #5f5f5f;
}
.teachers_external_card .teachers_name .teachers_label .teachers_employment{
	color: #6d950d;
}
.teachers_external_card .teachers_name .teachers_label .teachers_rating{
	color: #ffcd00;
}
.teachers_external_card .teachers_specialization{
	padding-left: 5px;
	margin-bottom: 15px;
}
.teachers_external_card .teachers_specialization li{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #a8a8a8;
	border: 1px solid #c1c1c1;
	padding: 3px 15px;
	text-transform: uppercase;
}
.teachers_external_card .teachers_subjects{
	padding-left: 5px;
	margin-bottom: 25px;
}
.teachers_external_card .teachers_subjects li{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #fff;
	border: 1px solid #c1c1c1;
	background: #c1c1c1;
	padding: 3px 15px;
	text-transform: uppercase;
}
.teachers_external_card .place_realization{
	margin-bottom: 0px;
}
.teachers_external_card .place_realization li label{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #5f5f5f;
}
.teachers_external_card .submit_application{
    font-family: 'Cuprum Regular';
    font-size: 16px;
    color: #fff;
    background: #b93777;
    text-transform: uppercase;
    border-radius: 0px;
    display: block;
    width: 100%;
	margin-top: 5px;
}
.teachers_external_card .price_hour{
    font-family: 'Cuprum Regular';
	font-size: 18px;
	color: #5f5f5f;
    display: block;
	text-align: center;
    text-transform: uppercase;
	margin-top: 15px;
}
.teachers_external_card .teachers_about{
	font-family: 'Cuprum Italic';
	font-size: 15px;
	color: #a8a8a8;
}
.teachers_external_card .teachers_about p{
	margin-bottom: 20px;
}
/* Фильтр */
.filter_block{
	margin-top: 30px;
	border: 1px solid #c1c1c1;
	padding: 30px;
}

.filter_block select{
    border-radius: 0px !important;
    border: 1px solid #5f5f5f;
}

.filter_block label{
    font-family: 'Cuprum Regular';
	font-size: 16px;
}
.filter_block .subjects_teacher{
	margin-bottom: 30px;
}
.filter_block .sex_person{
	margin-bottom: 30px;
}
.filter_block .specializations_teacher{
	margin-bottom: 30px;
}
.filter_block .price_options{
	margin-bottom: 30px;
}
.filter_block .lesson_options{
	margin-bottom: 30px;
}
.filter_block .price_options .ui-slider-horizontal {
    height: 3px;
}
.filter_block .price_options .ui-widget.ui-widget-content {
    border: 1px solid #c1c1c1;
	margin-top: 10px;
	margin-bottom: 10px;
}
.filter_block .price_options .ui-widget-header {
    border: 1px solid #c1c1c1;
    background: #bfbfbf;
    color: #bfbfbf;
}
.filter_block .price_options .ui-corner-all, .filter_block .price_options .ui-corner-top, .filter_block .price_options .ui-corner-left, .filter_block .price_options .ui-corner-tl {
    border-top-left-radius: 0px;
}
.filter_block .price_options .ui-corner-all, .filter_block .price_options .ui-corner-top, .filter_block .price_options .ui-corner-right, .filter_block .price_options .ui-corner-tr {
    border-top-right-radius: 0px;
}
.filter_block .price_options .ui-corner-all, .filter_block .price_options .ui-corner-bottom, .filter_block .price_options .ui-corner-left, .filter_block .price_options .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.filter_block .price_options .ui-corner-all, .filter_block .price_options .ui-corner-bottom, .filter_block .price_options .ui-corner-right, .filter_block .price_options .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.filter_block .price_options .ui-state-default, .filter_block .price_options .ui-widget-content .ui-state-default, .filter_block .price_options .ui-widget-header .ui-state-default, .filter_block .price_options .ui-button, .filter_block .price_options .ui-button.ui-state-disabled:hover, .filter_block .price_options .ui-button.ui-state-disabled:active {
    border: 1px solid #5f5f5f;
    background: #5f5f5f;
    color: #454545;
    border-radius: 50%;
}
.filter_block .price_options .ui-slider .ui-slider-handle {
    width: 15px;
    height: 15px;
}
.filter_block .price_options .ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: 0px;
}
.filter_block .reset_filter a{
    font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #b93777;
	font-weight: 300;
}
/* Чекбоксы */
.checkbox label{
	padding-left: 0px;
}
.checkbox label:after{
    content: '';
    display: table;
    clear: both;
}
.checkbox .jackdaw{
    position: relative;
    display: inline-block;
    border: 1px solid #5f5f5f;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}
.checkbox .jackdaw .jackdaw-icon{
    position: absolute;
    font-size: 1.2em;
    line-height: 0;
    top: 50%;
    left: 0%;
}
.checkbox label input[type="checkbox"]{
    display: none;
}
.checkbox label input[type="checkbox"] + .jackdaw > .jackdaw-icon{
    opacity: 0;
    transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .jackdaw > .jackdaw-icon{
    opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .jackdaw{
    opacity: .5;
}
/* Страница преподователя */
.teacher_page .breadcrumb {
    margin-bottom: 35px;
}
.teacher_page .teachers_name h2{
    font-family: 'Helvetica Neue Cyr Roman';
	font-size: 22px;
	color: #5f5f5f;
	margin-top: 0px;
	margin-bottom: 5px;
}
.teacher_page .teachers_name .teachers_date{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #a8a8a8;
	display: block;
	margin-top: 0px;
	margin-bottom: 20px;
}
.teacher_page .teachers_name .teachers_label{
	margin-bottom: 10px;
}
.teacher_page .teachers_name .teachers_label li{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #5f5f5f;
}
.teacher_page .teachers_name .teachers_label .teachers_bookmark{
	color: #b93777;
    cursor: pointer;
}

.teacher_page .teachers_name .teachers_label .teachers_bookmark .add_bkmrk{
    color: green !important;
}

.teacher_page .teachers_name .teachers_label .teachers_employment{
	color: #6d950d;
}
.teacher_page .teachers_name .teachers_label .teachers_rating{
	color: #ffcd00;
}
.teacher_page .teachers_adress, .teachers_external_card .teachers_adress{
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 16px;
	color: #5f5f5f;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.teacher_page .teachers_adress i{
	color: #aaaaaa;
}
.teacher_page .teachers_specialization{
	padding-left: 5px;
	margin-bottom: 5px;
}
.teacher_page .teachers_specialization li{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #a8a8a8;
	border: 1px solid #c1c1c1;
	padding: 3px 15px;
	text-transform: uppercase;
}
.teacher_page .teachers_subjects{
	padding-left: 5px;
	margin-bottom: 25px;
}
.teacher_page .teachers_subjects li{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #fff;
	border: 1px solid #c1c1c1;
	background: #c1c1c1;
	padding: 3px 15px;
	text-transform: uppercase;
}
.teachers_external_card .place_realization{
	margin-bottom: 0px;
}
.teachers_external_card .place_realization li label{
	font-family: 'Cuprum Regular';
	font-size: 16px;
	color: #5f5f5f;
}
.teachers_education{
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 16px;
	color: #5f5f5f;
	margin-bottom: 25px;
}
.teacher_page .teachers_locations{
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 16px;
	color: #a8a8a8;
	margin-bottom: 25px;
}
.teacher_page .teachers_locations h3{
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 16px;
	color: #a8a8a8;
	margin-bottom: 10px;
	margin-top: 0px;
}
.teacher_page .teachers_locations span{
	font-size: 18px;
	color: #5f5f5f;
	display: block;
}
.teacher_page .teachers_locations span i{
	color: #aaaaaa;
}
.teacher_page .submit_application{
    font-family: 'Cuprum Regular';
    font-size: 16px;
    color: #fff;
    background: #b93777;
    text-transform: uppercase;
    border-radius: 0px;
    display: block;
    width: 100%;
	margin-top: 5px;
}
.teacher_page .price_hour{
    font-family: 'Cuprum Regular';
	font-size: 18px;
	color: #5f5f5f;
    display: block;
	text-align: center;
    text-transform: uppercase;
	margin-top: 15px;
}
.teacher_page .teachers_about{
	font-family: 'Cuprum Italic';
	font-size: 15px;
	color: #a8a8a8;
}
.teacher_page .teachers_about p{
	margin-bottom: 20px;
}
.teacher_page .share_block{
	margin-bottom: 25px;
	text-align: center;
}
#page_teacher_universities {
    margin-bottom: 30px;
}
#page_teacher_universities .item{
    text-align: center;
}
#page_teacher_universities .item h3 a{
	font-family: 'Cuprum Regular';
    font-size: 22px;
	color: #4f433a;
	display: block;
}
#page_teacher_universities .item ul{
    margin-bottom: 0px;
}
#page_teacher_universities .item ul li{
	font-family: 'Cuprum Regular';
    font-size: 15px;
	color: #b93777;
    margin-bottom: 0px;
}
.licenses_diplomas h3{
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 16px;
	color: #a8a8a8;
	margin-bottom: 10px;
	margin-top: 0px;
}
/* Поиск */
.input-search-area{
    position: relative;
}

.loaded__search_result{
    display: none;
    position: absolute;
    width: 100%;
    top:70px;
    padding: 15px; 
    left: 0px;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}

.teacher__search_form .loaded__search_result, .courses__search_form .loaded__search_result{
    top: 45px;
}

.loaded__search_result label, .loaded__search_result a{
    display: block;
}

.loaded__search_result label{
    color: #a8a8a8;
    font-family: 'Helvetica Neue Cyr Roman';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px solid #ededed;
} 

.loaded__search_result a{
    color: #b93777;
    font-family: 'Helvetica Neue Cyr Roman';
    font-weight: 300; 
    font-size: 13px; 
    text-decoration: none;
} 

.loaded__search_result a i{
    padding-right: 5px;
}

/* Uploader */

.load-thumbnail{
    height: 298px;
    position: relative;
    margin-bottom: 35px;
}

.load-thumbnail .uploadedImg{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.uploaderContainter .actions__upload_img{
    text-align: right;
}

.uploaderContainter .actions__upload_img span{
    cursor: pointer;
}

.actions__upload_img span.delete__upload_img{
    background-image: url('../public/images/delete_img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 11px;
    height: 11px;
}

.certificateLoadArea{
    overflow: hidden;
    position: relative;
    border: 1px solid #c1c1c1;
    color: #a8a8a8;
    text-align: center;
    height: 298px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; 
    font-size: 15px;
    font-family: 'Cuprum Regular';
    cursor: pointer;
}

.certificateLoadArea input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*.uploaderContainter img.uploadedImg{
    max-height: 100%;
    max-width: 100%;
}

.uploaderContainter .img-thumbnail{
    max-width: 100px;
    margin-right: 10px;
    position: relative;
    transition: none !important;
}

.uploaderContainter{
    justify-content: flex-start;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}

.uploaderContainter .actions__upload_img{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    text-transform: uppercase; 
}

.uploaderContainter .actions__upload_img i{
    cursor: pointer;
}

.uploaderContainter .img-thumbnail:hover .actions__upload_img{
    display: flex; 
}*/

/* Switcher */

.switch-button-label {
    float: left;

    font-size: 10pt;
    cursor: pointer;
}

.switch-button-label.off {
    color: #7e8282;
}

.switch-button-label.on {
    color: #fff;
}

.switch-button-background {
    float: left;
    position: relative;

    background: #ccc;
    border: 1px solid #aaa;

    margin: 1px 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    cursor: pointer;
}

.switch-button-button {
    position: absolute;

    left: -1px;
    top : -1px;

    background: #FAFAFA;
    border: 1px solid #aaa;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.switch-button-label{
    line-height: 25px;
}

/* Подвал */
footer{
    background-image: url(../images/footer_bg.png);
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 75px;
}
footer .footer_logo{
    text-align: center;
	margin-top: 20px;
}
footer .footer_logo .img-responsive{
    display: inline-block;
}
footer .social_menu{
	margin-top: 70px;
}
footer .social_menu li a{
    color: #463e39;
}
footer .social_menu li a:focus,
footer .social_menu li a:hover{
    color: #b1b1b1;
}
footer .footer_menu{
	margin-bottom: 50px;
}
footer .footer_menu li a{
	font-family: 'Cuprum Regular';
    color: #463e39;
	font-size: 18px;
	text-transform: uppercase;
}
footer .footer_menu li a:focus,
footer .footer_menu li a:hover{
    color: #fff;
	text-decoration: none;
}
footer .footer_menu_bottom h3{
	font-family: 'Bebas Neue Regular';
    font-size: 15px;
	color: #ffffff;
	margin-top: 0px;
	margin-bottom: 25px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
footer .footer_menu_bottom ul li{
	margin-bottom: 15px;
}
footer .footer_menu_bottom ul li a{
	font-family: 'Cuprum Regular';
    font-size: 16px;
	color: #b1b1b1;
}
footer .footer_menu_bottom ul li a:focus,
footer .footer_menu_bottom ul li a:hover{
	color: #fff;
	text-decoration: none;
}
footer .copyright{
	font-family: 'Bebas Neue Regular';
    font-size: 12px;
	color: #59514c;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	display: block;
	margin-top: 15px;
}

.form-check label{
    font-weight: 400;
}

.course__section, .lecture__section{
    position: relative;
}


/* Select2 */


.select2-container .select2-selection--single{
    height: 34px !important;
}

.select2-container--default .select2-selection--single{
  color: #5f5f5f;
  border: 1px solid #c1c1c1;
    border-radius: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 34px;
    font-size: 14px;
    color: #a8a8a8;
}

.select2-results{
    font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    display: none;
}

.form-control:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
} 

/* Предметы */
.selected__teacher_subjects{
    justify-content: flex-start;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
.selected__teacher_subjects span{
    background-color: #b93777;
    color: #fff;
    position: relative;
    padding: 5px 20px 5px 10px;
    font-size: 12px;
    margin-right: 10px;
}

.selected__teacher_subjects span .delete__subject{
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
}

select option:disabled {
    color: #ababab;
    background-color: #ededed;
}

/* Фильтр с предметами */

.subjects_filter__tags{
    justify-content: flex-start;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
.subjects_filter__tags span{
    background-color: #b93777;
    color: #fff;
    position: relative;
    padding: 5px 20px 5px 10px;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.subjects_filter__tags span:nth-child(2n+1){
    margin-left: 0;
}

.subjects_filter__tags span .delete__subject{
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
}

.maxlength__label{
    font-size: 12px;
    color: #a8a8a8;
} 

.alert-success{
    background-color: #58b36c;
    color: #fff;
    font-family: 'Cuprum Regular';
}